/* Google Fonts - Poppins */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    position: fixed;
    height: 100%;
    width: 100%;
}

button {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 14px 22px;
    border: none;
    background: hsl(0, 64%, 54%);
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 64%, 52%);
}

button.show-modal,
.modal-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

section.active .show-modal {
    display: none;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
}

section.active .overlay {
    opacity: 1;
    pointer-events: auto;
}

.modal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 0px;
    opacity: 0;
    pointer-events: none;
    transition: all 1.5s ease;
    transform: translate(-50%, -50%) scale(1.2);
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.58);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(133, 133, 133, 0.57);
}

section.active .modal-box {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.modal-box i {
    font-size: 70px;
    color: hsl(0, 64%, 54%);
}

.modal-box h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #333;
}

.modal-box h3 {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-align: center;
}

.modal-box .buttons {
    margin-top: 25px;
}

.modal-box button {
    font-size: 14px;
    padding: 6px 12px;
    margin: 0 10px;
}

.close_btn:hover{
    transition: all 0.5s ease;
    background: hsl(0, 75%, 43%);
}

.email_input{
    margin-top: 4px;
    margin-bottom: 4px;
    border: 2.5px solid #D33636;
    border-radius: 7px;
    width: 270px;
    text-align: center;
    outline: none;
    height: 30px;
}

.email_input:hover .email_input:focus{
    transition: all 0.5s ease;
}

.checkbox_container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.email_checkspan{
    transition: all 0.5s ease;
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 10px;
    border: #D33636 solid;
}

.checkbox_container:hover input ~ .email_checkspan {
    transition: all 0.5s ease;
    background-color: #ccc;
}

.checkbox_container input:checked ~ .email_checkspan {
    transition: all 0.5s ease;
    background-color: #D33636;
    border: none;
}

.email_checkspan:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox_container input:checked ~ .email_checkspan:after {
  display: block;
}

.checkbox_container .email_checkspan:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.conditions{
    display: flex;
    margin-top: 10px;
}

.email_link{
    text-decoration: none;
}

.email_link:visited{
    color: #D33636;
}

.email_link:hover{
    transition: all 0.2s ease;
    color: #a53333;
}

.email_link{
    color: #D33636;
}

.first_radius{
    transition: all 1s ease;
    border-radius: 24px;
}

.second_radius{
    transition: all 1.5s ease;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.btn_none{
    width: 200px;
}

.btn_display{
    transition: all 1s ease;
    border-radius: 10px;
    width: 250px;
}

.none{
    display: none;
}

.icon{
    opacity: 0.5;
    transition: all 1s ease;
    display: block;
}

.fa-newspaper{
    transition: all 1s ease;
    display: block;
}

.text{
    opacity: 0.5;
    transition: all 1s ease;
}

.opacity{
    opacity: 1;
    transition: all 1s ease;
}